p {
  font-size: 16px;
}

#wrapper {
  color: black;
}

#leftPanel {
  border: 2px solid black;
  height: 100vh;
  border-radius: 10px;
  text-align: center;
  background-color: #eee;
  overflow: scroll;
}

.left-align {
  text-align: left;
}

.hidden {
  display: none;
}
